<template>
  <div class="calculator">
      <div class="display">{{output || '0'}}</div>
      <div @click="clear" class="button">AC</div>
      <div @click="sign" class="button">+/-</div>
      <div @click="del" class="button">DEL</div>
      <div @click="operatorAdd('/')" class="button operator">/</div>
      <div @click="append('7')" class="button">7</div>
      <div @click="append('8')" class="button">8</div>
      <div @click="append('9')" class="button">9</div>
      <div @click="operatorAdd('*')" class="button operator">*</div>
      <div @click="append('4')" class="button">4</div>
      <div @click="append('5')" class="button">5</div>
      <div @click="append('6')" class="button">6</div>
      <div @click="operatorAdd('-')" class="button operator">-</div>
      <div @click="append('1')" class="button">1</div>
      <div @click="append('2')" class="button">2</div>
      <div @click="append('3')" class="button">3</div>
      <div @click="operatorAdd('+')" class="button operator">+</div>
      <div @click="zero()" class="button zero">0</div>
      <div @click="dot" class="button">.</div>
      <div @click="equal" class="button operator equal">=</div>

  </div>
</template>

<script>
export default {
    data() {
        return {
            inputstr : '',
            operator : null,
            operatorClicked: false,
            equalClicked : false,
            output : '',
            num : 0,
        }
    },
    methods : {
        clear() {
            this.inputstr = '';
            this.output = '';
        },
        sign() {
            if(this.output) {
                this.inputstr = this.inputstr.charAt(0) === '-' ? this.inputstr.slice(1) : `-${this.inputstr}`;
                this.output = this.output.charAt(0) === '-' ? this.output.slice(1) : `-${this.output}`; 
            }
            else {
                this.inputstr = this.inputstr.charAt(0) === '-' ? this.inputstr.slice(1) : `-${this.inputstr}`;
                this.output = this.output.charAt(0) === '-' ? this.output : `-0`;
            }
            
        },
        del() {
            this.inputstr = this.inputstr.substr(0,this.inputstr.length - 1);
            this.output = this.output.substr(0,this.output.length -1);
        },
        append(str) {
            if(this.operatorClicked){
                this.output = '';
                this.operatorClicked = false;
            }
            if(this.output.length < 9){
                if(this.output == '0' && str!='.') {
                    this.output = str;
                    this.inputstr = this.inputstr.substr(0,this.inputstr.length - 1);
                    this.inputstr += this.output;
                }
                else {
                    this.inputstr = `${this.inputstr}${str}`;
                    this.output += str;
                }
            }
        },
        zero() {
            if(this.output) {
                this.append('0');
            }
            else{
                this.output = '0';
            }
        },
        dot() {
            if(this.output.indexOf('.') === -1) {
                    this.append('.');
            }
        },
        operatorAdd(str) {
            if(this.inputstr.charAt(this.inputstr.length - 1) == "/" ||
                this.inputstr.charAt(this.inputstr.length - 1) == "*" ||
                this.inputstr.charAt(this.inputstr.length - 1) == "-" ||
                this.inputstr.charAt(this.inputstr.length - 1) == "+") {
                    return;
            }
            else {
                this.inputstr = this.inputstr + str;
                this.operatorClicked = true;
            }
        },
        equal() {
            if(!this.output){
                this.output = '';
            }
            else {
                this.inputstr = `${eval(this.inputstr)}`;
                var num = parseFloat(this.inputstr);
                this.equalClicked = true;
                if(this.inputstr.length > 9){
                    this.output = `${num.toPrecision(1)}`;
                }
                else {
                    this.output = this.inputstr;
                }
                
            }
        },
    }
}
</script>

<style>
    .calculator {
        margin: 0 auto;
        width: 400px;
        font-size: 20px;
        display: grid;
        grid-template: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }

    .display {
        grid-column: 1 / 5;
        background-color :black;
        color: white;
    }

    .zero {
        grid-column: 1 / 3;
    }

    .button {
        background-color : #eee;
        border: 2px solid #333;
        vertical-align: middle;
        text-align: middle;
        padding: 8px;
    }

    .operator {
        background-color: orangered;
        color: white;
    }

</style>
